src/parser/__pycache__/parser.cpython-311.pyc
src/parser/parser.py
src/parser/parser.py
tests/__pycache__/test_utils.cpython-311.pyc
src/domains/__pycache__/base_domain.cpython-311.pyc
src/domains/__pycache__/parity_domain.cpython-311.pyc
tests/domains/__pycache__/parity_consts.cpython-311.pyc
src/table/__pycache__/table.cpython-311.pyc
